#ckepop   dl, #ckepop dt, #ckepop dd, #ckepop ol, #ckepop ul, #ckepop li, #ckepop fieldset, #ckepop form, #ckepop label, #ckepop legend, #ckepop table, #ckepop caption, #ckepop tbody, #ckepop tfoot, #ckepop thead, #ckepop tr, #ckepop th, #ckepop td, #ckepop span {vertical-align:middle;margin:0;padding:0;}
#ckepop  .jiadiv_01{border:#CCCCCC solid 1px; width:240px;background:#ffffff;text-align:left;overflow:hidden;}
#ckepop  .jiadiv_02{padding:1px!important; font-size:14px!important; text-align:left!important;}
#ckepop  .jiadiv_02 .jiatitle{margin:1px 0;height:22px;padding-left:5px;padding-top:1px;width:107px;float:left;display:block;border:1px solid #ffffff;background:#ffffff;text-decoration:none;color:#000000;font-size:12px!important;}
#ckepop  .jiadiv_02 .jiatitle:hover{background:#F2F2F2;border:1px solid #E5E5E5;text-decoration:none;}
#ckepop  .jiadiv_02 .jiatitle img{margin:3px 0 -3px 0;border:0;}
#ckepop  .jiadiv_01 .link_01{text-decoration:none; font-size:12px}
#ckepop  .jiadiv_01 .link_01:hover{text-decoration:underline; font-size:12px}
#ckepop  .jtico{text-align:left;overflow:hidden;display:block!important;height:16px!important;line-height:16px!important;padding-left:20px!important;background:url(../images/jiathis_ico.png) no-repeat left;cursor:pointer}
/*ico start, update on 2011.01.25, add by plhwin*/
#ckepop  .jtico_copy{background-position:0px 0px}
#ckepop  .jtico_email{background-position:0px -32px}
#ckepop  .jtico_fav{background-position:0px -16px}
#ckepop  .jtico_buzz{background-position:0px -48px}
#ckepop  .jtico_qzone{background-position:0px -64px}
#ckepop  .jtico_baidu{background-position:0px -80px}
#ckepop  .jtico_tsina{background-position:0px -96px}
#ckepop  .jtico_tsohu{background-position:0px -112px}
#ckepop  .jtico_t163{background-position:0px -128px}
#ckepop  .jtico_tqq{background-position:0px -144px}
#ckepop  .jtico_renren{background-position:0px -160px}
#ckepop  .jtico_kaixin001{background-position:0px -176px}
#ckepop  .jtico_sohu{background-position:0px -192px}
#ckepop  .jtico_taobao{background-position:0px -208px}
#ckepop  .jtico_hi{background-position:0px -224px}
#ckepop  .jtico_xiaoyou{background-position:0px -240px}
#ckepop  .jtico_youshi{background-position:0px -256px}
#ckepop  .jtico_gmail{background-position:0px -272px}
#ckepop  .jtico_hotmail{background-position:0px -288px}
#ckepop  .jtico_ymail{background-position:0px -304px}
#ckepop  .jtico_feixin{background-position:0px -320px}
#ckepop  .jtico_51{background-position:0px -336px}
#ckepop  .jtico_google{background-position:0px -352px}
#ckepop  .jtico_youdao{background-position:0px -368px}
#ckepop  .jtico_qq{background-position:0px -384px}
#ckepop  .jtico_sina{background-position:0px -400px}
#ckepop  .jtico_live{background-position:0px -416px}
#ckepop  .jtico_yahoo{background-position:0px -432px}
#ckepop  .jtico_115{background-position:0px -448px}
#ckepop  .jtico_hexun{background-position:0px -464px}
#ckepop  .jtico_myspace{background-position:0px -480px}
#ckepop  .jtico_139{background-position:0px -496px}
#ckepop  .jtico_tieba{background-position:0px -512px}
#ckepop  .jtico_haoei{background-position:0px -528px}
#ckepop  .jtico_digu{background-position:0px -544px}
#ckepop  .jtico_douban{background-position:0px -560px}
#ckepop  .jtico_zhuaxia{background-position:0px -576px}
#ckepop  .jtico_xianguo{background-position:0px -592px}
#ckepop  .jtico_zuosa{background-position:0px -608px}
#ckepop  .jtico_renjian{background-position:0px -624px}
#ckepop  .jtico_follow5{background-position:0px -640px}
#ckepop  .jtico_delicious{background-position:0px -656px}
#ckepop  .jtico_digg{background-position:0px -672px}
#ckepop  .jtico_fb{background-position:0px -688px}
#ckepop  .jtico_twitter{background-position:0px -704px}
#ckepop  .jtico_myspacecn{background-position:0px -720px}
#ckepop  .jtico_poco{background-position:0px -736px}
#ckepop  .jtico_wealink{background-position:0px -752px}
#ckepop  .jtico_cnfol{background-position:0px -768px}
#ckepop  .jtico_leshou{background-position:0px -784px}
#ckepop  .jtico_diglog{background-position:0px -800px}
#ckepop  .jtico_tongxue{background-position:0px -816px}
#ckepop  .jtico_waakee{background-position:0px -832px}
#ckepop  .jtico_shouker{background-position:0px -848px}
#ckepop  .jtico_cyzone{background-position:0px -864px}
#ckepop  .jtico_9fav{background-position:0px -880px}
#ckepop  .jtico_114la{background-position:0px -896px}
#ckepop  .jtico_99earth{background-position:0px -912px}
#ckepop  .jtico_chouti{background-position:0px -928px}
#ckepop  .jtico_dig24{background-position:0px -944px}
#ckepop  .jtico_douban9dian{background-position:0px -960px}
#ckepop  .jtico_digbuz{background-position:0px -976px}
#ckepop  .jtico_hemidemi{background-position:0px -992px}
#ckepop  .jtico_baohe{background-position:0px -1008px}
#ckepop  .jtico_yijee{background-position:0px -1024px}
#ckepop  .jtico_pdfonline{background-position:0px -1040px}
#ckepop  .jtico_printfriendly{background-position:0px -1056px}
#ckepop  .jtico_translate{background-position:0px -1072px}
#ckepop  .jtico_googlereader{background-position:0px -1088px}
#ckepop  .jtico_diigo{background-position:0px -1104px}
#ckepop  .jtico_evernote{background-position:0px -1120px}
#ckepop  .jtico_friendfeed{background-position:0px -1136px}
#ckepop  .jtico_linkedin{background-position:0px -1152px}
#ckepop  .jtico_mixx{background-position:0px -1168px}
#ckepop  .jtico_netlog{background-position:0px -1184px}
#ckepop  .jtico_netvibes{background-position:0px -1200px}
#ckepop  .jtico_phonefavs{background-position:0px -1216px}
#ckepop  .jtico_pingfm{background-position:0px -1232px}
#ckepop  .jtico_plaxo{background-position:0px -1248px}
#ckepop  .jtico_polladium{background-position:0px -1264px}
#ckepop  .jtico_reddit{background-position:0px -1280px}
#ckepop  .jtico_wong{background-position:0px -1296px}
#ckepop  .jtico_stumbleupon{background-position:0px -1312px}
#ckepop  .jtico_plurk{background-position:0px -1328px}
#ckepop  .jtico_funp{background-position:0px -1344px}
#ckepop  .jtico_blogsina{background-position:0px -1360px}
#ckepop  .jtico_myshare{background-position:0px -1376px}
#ckepop  .jtico_fwisp{background-position:0px -1392px}
#ckepop  .jtico_more,#ckepop .jtico_jiathis{background-position:0px -1408px}
#ckepop  .jtico_msn{background-position:0px -1424px}
#ckepop  .jtico_fanfou{background-position:0px -1440px}
#ckepop  .jtico_i139{background-position:0px -1456px}
#ckepop  .jtico_dream163{background-position:0px -1472px}
#ckepop  .jtico_thexun{background-position:0px -1488px}
#ckepop  .jtico_tianya{background-position:0px -1505px}
#ckepop  .jtico_w3c{background-position:0px -1521px}
#ckepop  .jtico_tifeng{background-position:0px -1537px}
#ckepop  .jtico_bitly{background-position:0px -1553px}
#ckepop  .jtico_woshao{background-position:0px -1569px}
#ckepop  .jtico_ganniu{background-position:0px -1585px}
#ckepop  .jtico_189cn{background-position:0px -1601px}
#ckepop  .jtico_ttom{background-position:0px -1617px}
/*ico end*/
#ckepop  .button,#ckepop .jiathis_txt{float:left;font-size:12px;text-decoration:none;line-height:18px!important;}
#ckepop  .separator,#ckepop .jiathis_separator{display:block;float:left;margin:0 5px;line-height:16px!important;}
#ckepop  .searchTxt{text-align:left;margin:7px 0 0 28px;background:#FFFFFF;border:none;width:240px;font-size:12px;color:#999;}
#ckepop  .searchTxtCont{width:300px;background:#F2F2F2;border-bottom:1px solid #E5E5E5;padding:0 0 0 5px}
#ckelist {width:300px;height:300px;overflow-y:auto;}
#ckepop  .centerBottom{width:300px;background:#F2F2F2;border-top:1px solid #E5E5E5;padding-left:5px;}
#ckepop  .centerTitle{float:right;*padding:3px 0 0;}
#ckepop  .ckepopBottom{background:#F2F2F2;border-top:1px solid #E5E5E5;padding-left:5px;}
#ckepop  .jt_sharetitle{font-weight:bold;font-size:12px;}
#ckepop  img{display:inline;}