/*
[name]绿[/name]
[iconbgcolor]#70a703[/iconbgcolor]
Powered by Discuz! X
*/

body { background: #FFF url(bgimg.png) repeat-x }
#nv { background-color: #73a902; background-image: url(nv.png); height:40px; padding-top:3px;background-position: 0 -33px; padding-left:0px;}
	#nv li{ font-size:12px; font-family:"宋体";line-height: 35px;}
	
	#nv li a{ 		padding-left:22px; padding-right:22px; font-weight:100;}
	#nv li a:hover{ background-position: -36px -66px;}
	
	#nv li:hover{ background:none}
	#nv li, #nv li a:hover, #nv li.hover a, #nv li.hover a:hover { background-image: url(nv_a.gif) !important; text-decoration:none ; }
	#nv li.a { background-position: -34px -66px;}
	#nv li.a a{ font-weight:700;padding-right:19px; }
	#nv li.a a:hover{ font-weight:700;padding-right:19px;background-position: -34px -66px; }
	#nv li.hover a{ background-position: -36px -66px; }
	#nv li.hover a:hover, #nv li.hover a{ background-position: -36px -66px; }
.bm_h, .tl th, .tl td { border-bottom-color: #CDCDCD; }
.fl .bm_h { border-color: #C5E6DF; background: #EBF5F6 url(titlebg.png) repeat-x 0 0; }

/* 重定义 {SPECIALBG} */
.bmn, .bm_h, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h, .appnew, .apphot { background-color: #EBF5F6; }

.ct2_a, .ct3_a { background-image: url(vlineb.png); }
.tbn li.a { background: #FFF; }
	#nv_portal.pg_portalcp .ct2_a_r, #nv_forum.pg_post .ct2_a_r { background-image: none; }

/* 重定义 {SPECIALBORDER} */
.bmn, .pg a, .pgb.a, .pg strong, .card, .card .o, div.exfm  { border-color: #C5E6DF; }
.pg strong { background-color: #C5E6DF; }
.pn, .tb .o, .tb .o a { background-image: url(pn.png); }
	.pnc, a.pnc, .tb .o { border-color: #066; }


.ad td.pls { background-color: #C5E6DF; }

/* 重定义字体 */
#qmenu, .fl .bm_h h2 a, .xi1, #um .new, .topnav .new, .sch .new, .el .ec .hot em, .pll .s a.joins { color: #429296; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #000; }

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) !important; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.el .ec .hot, .clct_list .xld .m { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }

/* 重定义广播 */
#uhd, #flw_header .bar, .flw_replybox { background-color: #F4F9F9; }
#fastpostsubmit { background-image: url(flw_post.png); }
.flw_replybox .pnc { background-image: url(pn_reply.png); }
.flw_replybox td table .pnc { background-image: url(pn_rt.png); }

/* 重定义版块快速跳转和侧边导航 */
#fjump_menu li.a a { background-color: #EBF5F6; }
.bdl, .bdl dt, .bdl dd.bdl_a a { border-color: #C2D5E3; background-color: #EBF5F6; }
	.bdl dt { background-image: url(titlebg_sd.png); }
.bdl dd.bdl_a a { color: #429296; }

/* 重定义下拉菜单 */
.p_pop a { border-bottom-color: #EBF5F6; }
	.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: #EBF5F6; color: #429296; }
	.blk a:hover { background-color: transparent; }
	
#toptb a{ color:#FFF}