.dp-highlighter {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 9px; OVERFLOW: auto; WIDTH: 97%; WORD-BREAK: break-all; PADDING-TOP: 1px; FONT-FAMILY: Monaco, DejaVu Sans Mono, Bitstream Vera Sans Mono, Consolas, Courier New, monospace; BACKGROUND-COLOR: transparent; WORD-WRAP: break-word
}
.dp-highlighter OL {
	BORDER-RIGHT: #d1d7dc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d7dc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 1px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #2b91af; PADDING-TOP: 2px; BORDER-BOTTOM: #d1d7dc 1px solid; LIST-STYLE-TYPE: decimal; BACKGROUND-COLOR: #fff
}
.dp-highlighter OL LI {
	PADDING-LEFT: 10px; MARGIN: 0px 0px 0px 38px; BORDER-LEFT: #d1d7dc 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #fafafa
}
.dp-highlighter .columns DIV {
	PADDING-LEFT: 10px; MARGIN: 0px 0px 0px 38px; BORDER-LEFT: #d1d7dc 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #fafafa
}
.dp-highlighter .columns {
	OVERFLOW: hidden; WIDTH: 100%; COLOR: gray
}
.dp-highlighter .columns DIV {
	PADDING-BOTTOM: 5px
}
.dp-highlighter OL LI SPAN {
	COLOR: black
}
.dp-highlighter .tools {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: black; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.dp-about {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.dp-about TABLE {
	FONT-SIZE: 11px; WIDTH: 100%; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif! important; HEIGHT: 100%
}
.dp-about TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.dp-about .copy {
	BORDER-BOTTOM: #aca899 1px solid; HEIGHT: 95%
}
.dp-about .title {
	FONT-WEIGHT: bold; COLOR: red
}
.dp-about .para {
	MARGIN: 0px 0px 4px
}
.dp-about .footer {
	BORDER-TOP: #fff 1px solid; BACKGROUND-COLOR: #eceadb; TEXT-ALIGN: right
}
.dp-about .close {
	FONT-SIZE: 11px; WIDTH: 60px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif! important; HEIGHT: 22px; BACKGROUND-COLOR: #eceadb
}
.dp-highlighter .comment {
	COLOR: #008200
}
.dp-highlighter .comments {
	COLOR: #008200
}
.dp-highlighter .string {
	COLOR: blue
}
.dp-highlighter .keyword {
	FONT-WEIGHT: bold; COLOR: #7f0055
}
.dp-highlighter .preprocessor {
	COLOR: gray
}
