#editor_switch {
	MARGIN-BOTTOM: 12px; BORDER-BOTTOM: #36a 1px solid; HEIGHT: 25px
}
#editor_switch LI {
	FLOAT: left; MARGIN: 0px 5px; LIST-STYLE-TYPE: none
}
#editor_switch LI A {
	BORDER-RIGHT: #36a 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #36a 1px solid; DISPLAY: block; PADDING-LEFT: 1em; BACKGROUND: #ddd; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #36a 1px solid; COLOR: black; PADDING-TOP: 0.25em; BORDER-BOTTOM: #36a 1px; TEXT-DECORATION: none
}
#editor_switch LI A:hover {
	BACKGROUND: #fff
}
#editor_switch LI A:active {
	BACKGROUND: #fff
}
#editor_switch LI A.activetab:link {
	BACKGROUND: #fff
}
#editor_switch LI A.activetab:visited {
	BACKGROUND: #fff
}
#editor_wrapper {
	WIDTH: 100%
}
#bbcode_emotions {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 120px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#bbcode_emotions IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 19px; CURSOR: pointer; PADDING-TOP: 5px
}
#bbcode_controllers {
	FLOAT: left
}
#bbcode_toolbar INPUT {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #efefef
}
#bbcode_tooltip {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #dee3e7
}
#button_bold {
	FONT-WEIGHT: bold
}
#button_italic {
	FONT-STYLE: italic
}
#button_underline {
	TEXT-DECORATION: underline
}
#preview P {
	MARGIN: 0px
}
