-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

#原始jar包的位置和jar包名
-injars '/Users/qlong/jar/paySdk.jar'

#混淆后的导出jar包的位置和jar包名
-outjars '/Users/qlong/jar/paySdk_proguard.jar'
 
#jar包依赖的其他库的位置和名称
-libraryjars '/Users/qlong/jar/android-support-v4.jar'
-libraryjars '/Users/qlong/jar/android.jar'
-libraryjars '/Users/qlong/jar/codasdk_140610.jar'
-libraryjars '/Users/qlong/jar/commons-codec-1.8.jar'
-libraryjars '/Users/qlong/jar/commons-httpclient-3.1.jar'
-libraryjars '/Users/qlong/jar/gson-2.2.4.jar'
-libraryjars '/Users/qlong/jar/mimopay_get5.jar'
-libraryjars '/Users/qlong/jar/Mimopay-1.3.4.jar'
-libraryjars '/Users/qlong/jar/zingpaylib1.1.jar'
-libraryjars '/Users/qlong/jar/qlTool.jar'
 
#下面的Test类将不会被混淆，这样的类是需要被jar包使用者直接调用的
-keep public class com.sq.pay.PayActivity {
    public <fields>;
    public <methods>;
}
-keep public class com.sq.pay.GetSMSActivity {
    public <fields>;
    public <methods>;
}
-keep public class com.sq.pay.CheckOrderStatusActivity {
    public <fields>;
    public <methods>;
}
-keep public class com.sq.pay.PayService {
    public <fields>;
    public <methods>;
}
-keep public class com.sq.pay.bean.* {
    public <fields>;
    private <fields>;
    public <methods>;
    private <methods>;
}
-keep public class com.sq.pay.result.PayResult {
    public <fields>;
    private <fields>;
    public <methods>;
    private <methods>;
}
-keep public class com.sq.pay.net.bean.* {
    public <fields>;
    private <fields>;
    public <methods>;
    private <methods>;
}
 
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
 
-keepclasseswithmembernames class * {
    native <methods>;
}
 
-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}
 
-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}
 
-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}
 
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}
 
-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

#对泛型不混淆，如List<String>
-keepattributes Signature